body 
{
    padding: 0px !important;
    margin: 0px !important;
    font-family: Arial, Sans-Serif;
    background-color: #6B6B6B;
    background-image: url(/images/PageBackground.gif);
    background-repeat: repeat-x;
    background-position: center top;
}

#mainflash{
margin-right: 5px;
}

div.bodydiv
{
    padding: 0px !important;
    margin: 0px !important;
    font-family: Arial, Sans-Serif;
}

div.maincontent
{
    width: 968px;
    margin: 0px auto;
    padding: 0px !important;
}
div.armnav
{
    font-family: Arial, Sans-Serif;
    background-color: #444444;
    font-size: 11px;
    height: 19px;
    width: 968px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
}
div.armnavitem
{
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
}
div.armnavitem a
{
    color: #ffffff;
    text-decoration: none;
}
div.logosearch
{
    height: 87px;
    width: 968px;
    background-image: url(/images/logo_back.gif);
    position: relative;
}
div.logo
{
    padding: 15px 0 0 20px; 
}

div.mainflash{
display: inline;
float: right;
}

div.strapline{
    display:inline;
    font-size: 130%;
    padding-left: 5px;
    vertical-align: 40%;
}
div.search
{
    position: absolute;
    right: 0px;
    top: 4px;
    color: #263c6b;
    font-size: 11px;
    font-family: Arial, Sans-Serif;
}
div.topsearch
{
    padding-top: 12px;
    padding-bottom: 7px;
}

div.topsearch a
{
    text-decoration: none;
    color: #263c6b;
}
div.topsearch input.gobutton
{
    right: 17px;
    position: absolute;
    top: 12px;
}
input.searchinput
{
    width: 155px;
    margin-left: 10px;
    margin-right: 40px;
        font-size: 11px;
    font-family: Arial, Sans-Serif;
}
img.armlogo
{
    position: absolute;
    right: 0px;
}
div.menu
{
    font-size: 12px;
    font-family: Arial, Sans-Serif;
    color: #ffffff;
}

div.menuright
{
    background-image: url(/images/menu_back.gif);
    background-repeat: repeat-x;    
    float: right;
    vertical-align: middle;
    height: 30px;
    width:100%;
}
div.menuitem
{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 4px;
}
div.menuitem a
{
    text-decoration: none;
    color: #ffffff;
}
div.clear
{
    display: block;
    clear: both;
    content: " ";
}
div.dright
{
    display: block;
    clear: both;
    content: " ";
    border-bottom: 1px solid #E6E6E6;
}
div.drightclear
{
    display: block;
    clear: both;
    content: " ";
}
div.homecontent
{
    padding-top: 20px;
    background-color: #ffffff;
    width: 968px;
    
}

div.flash
{
    position: relative;
}
div.flashtest
{
    position: absolute;
    right: 1px;
    top: 11px;
}
div.homeleft
{
    float: left;
    display: block;
    width: 725px;
}
div.sideright
{
    padding-left: 2px;
    float: left;
}

div.tabs
{
    float: left;
    margin-top: 7px;
    padding-left: 0px;
    width: 520px;
    background-color: #eff0f1;
    border: solid 1px #bdbdbd;
    padding: 6px;
}
div.forums
{
    padding-top: 3px;
}
div.blogs
{
    padding-top: 3px;
}

div.homebottom
{
    height: 26px;
}
div.footer
{
    background-image: url(/images/footer.gif);
    background-repeat: repeat-x;
    height: 67px;
    width: 968px;
    margin: 0px auto;
    margin-top: 13px;
    color: #ded9d9;
    font-size: 10px;
    font-family: Arial, Sans-Serif;
    text-align: center;
}
div.footeritem
{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}
div.footeritem a
{
    text-decoration: none;
    color: #ded9d9;
}

.modernbricksmenu2 {
    padding-bottom: 0px; 
    margin: 0px; 
    width: 100%; 
    height: 21px;
}
.modernbricksmenu2 UL {
    PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
.modernbricksmenu2 LI {
    MARGIN: 0px;  FLOAT: left
}
.modernbricksmenu2 A 
{
    
    Z-INDEX: 1; BORDER-BOTTOM: 0px; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.2em; MARGIN: 0px; 
    padding-left: 8px;  padding-right:10px; 
    DISPLAY: inline; FLOAT: left; HEIGHT: 21px; FONT-SIZE: 90%; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px; TEXT-DECORATION: none; PADDING-TOP: 0px
}
.addtab IMG {
    POSITION: relative; TOP: -12px
}
.modernbricksmenu2 a div.tabbefore
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(/images/tab_noselect_left.gif);
    height: 21px;
    width: 4px;
    float: left;
    display: block;
}

.modernbricksmenu2 a div.tabcenter
{
    float: left;
    display: block;
    height: 17px;
    background-repeat: repeat-x;
    background-image: url(/images/tab_noselect_div.gif); 
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}
.modernbricksmenu2 a div.tabafter
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(/images/tab_noselect_right.gif);
    height: 21px;
    width: 4px;
    float: left;
    display: block;
}




.modernbricksmenu2 a.selected div.tabbefore
{
    background-image: url(/images/tab_select_left.gif);
}

.modernbricksmenu2 a.selected div.tabcenter
{
    background-image: url(/images/tab_select_div.gif); 

}
.modernbricksmenu2 a.selected div.tabafter
{
    background-image: url(/images/tab_select_right.gif);
width: 3px;
}


.modernbricksmenu2 a span.tabbefore
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(/images/tab_noselect_left.gif);
    height: 21px;
    width: 4px;
    float: left;
    display: block;
}
.modernbricksmenu2 a span.tabcenter
{
    float: left;
    display: block;
    height: 17px;
    background-repeat: repeat-x;
    background-image: url(/images/tab_noselect_div.gif); 
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
}
.modernbricksmenu2 a span.tabafter
{
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(/images/tab_noselect_right.gif);
    height: 21px;
    width: 4px;
    float: left;
    display: block;
}


.modernbricksmenu2 a.selected span.tabbefore
{
    background-image: url(/images/tab_select_left.gif);
}
.modernbricksmenu2 a.selected span.tabcenter
{
    background-image: url(/images/tab_select_div.gif); 
}
.modernbricksmenu2 a.selected span.tabafter
{
    background-image: url(/images/tab_select_right.gif);
width: 3px;
}


.modernbricksmenu2 A
{  
    height: 21px;
    color: #778092;
    font-family: Arial, Sans-Serif;
    font-size: 10px;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    float: left;
    display: block;
}

.modernbricksmenu2 A.selected
{
    color: #263c6b;
}

.modernbricksmenu2 A:hover{
cursor: hand;
}

div.tabcontent
{
    color: #333333;
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    border-left: solid 1px #b2b5b7;
    border-right: solid 1px #b2b5b7;
    background-color: #ffffff;
    border-top: solid 1px #b2b5b7;
    border-bottom: solid 1px #b2b5b7;
        margin-top: -1px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
        padding-bottom:7px;
        background-image: url(/images/tab_back.gif);
        background-position: bottom;
        background-repeat: repeat-x;
}

div.pagecontent a
{
    color: #de640d;
}

div.pagecontent a span.tabspan
{
    color: #778092;
}

div.tabcontent div.mainbodycontent a
{
    color: #de640d;
}

div.tabcontent div.mainbodycontent img
{
    text-align: left;
    padding-right: 12px;
    padding-bottom: 12px;
}

div.tabcontent h1, div.editor_wrapper h1
{
    padding-top: 10px;
    color: #de640d;
    font-size: 12px;
    font-family: Arial, Sans-Serif;
}
div.tabcontent hr, div.editor_wrapper hr
{
    color: #d0d0d0;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    clear: both;
}
div.pagecontent
{
    padding-top: 5px;
    background-color: #ffffff;
    width: 968px;
}
div.pagebottom
{
    height: 59px;
    width: 968px;
    background-image: url(/images/page_bottom_div.gif);
    background-repeat: repeat-x;
}
div.leftnav
{
    background-image: url(/images/main_back.gif);
    background-repeat: repeat-x;
    width: 184px;
    float: left;
    position: relative;
    min-height:500px;
}
div.homeleft div.leftnav
{
min-height: 0px;
}
div.tabcontainer
{
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 0px;
}
img.mainimage
{
    text-align: right;
    float: right;
    padding-left: 10px;
    padding-bottom: 5px;
}
div.centersection
{
        background-image: url(/images/main_back.gif);
    background-repeat: repeat-x;
    padding-top: 7px;
    width: 536px;
    float: left;
}
div.centerwrapper
{
    border: solid 1px #bdbdbd;
    padding: 1px;
    background-color: #ffffff;
    width: 532px;
    height: 100%;
    float: left;
}
div.centercontent
{
    background-image: url(/images/center_back.gif);
    background-repeat: repeat-x;
    font-size: 12px;
    color: #333333;
    font-family:Arial, Sans-Serif;
}
div.centercontent_text
{
        padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
line-height: 16px;
}
    
div.centercontent_text h1
{
    font-family:Arial, Sans-Serif;
    color: #3b3b3b;
    font-size: 32px;
    line-height: 37px;
    font-weight: normal;
    margin-top: 17px;
    margin-bottom: 3px;
}
div.centercontent_text h2
{
    font-family: Arial, Sans-Serif;
    color: #385f9b;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

div.centercontent_text h3
{
    color: #385f9b;
    font-size: 14px;
    line-height: 16px;
}

div.centercontent_text a
{
    color: #e85b0d;
    font-size: 11px;
}

div.leftnavsection
{
    color: #333333;
    font-size: 12px;
    padding-top: 11px;
    padding-left: 7px;
    padding-bottom: 8px;
    height: 20px;
    font-size: 12px;
    text-transform: uppercase;
}
div.leftnavsection a
{
    color: #333333;
    text-decoration: none;
    font-weight: bold;
}
div.leftnav ul.leftnav
{
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
div.homeleft div.leftnav ul.leftnav
{
margin-bottom: 5px;
}
div.leftnav ul.leftnav li
{
    list-style-type: none;
    list-style-image: none;
}
div.leftnav  ul.leftnavsub
{
    padding-top: 0px;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}
div.leftnav ul.leftnav li.expanded a
{
    height: 24px;
}
div.leftnav ul.leftnav li.expanded ul.leftnavsub li.expanded a
{
    height:auto;
}
div.leftnav ul.leftnav li.expanded 
{
    list-style-type: none;
    list-style-image: none;
    padding-left: 3px;
}

div.leftnav ul.leftnav li.expanded a
{
    background-image: url(/images/left_nav_noselect.gif);
    background-repeat: no-repeat;
    font-weight: bold;
    width: 160px;
    display: block;
    padding-left: 18px;
    padding-top: 5px;
}
div.leftnav ul.leftnav li.active a
{
    background-image: url(/images/left_nav_select.gif);
}
div.leftnav ul.leftnav ul.leftnavsub li.expanded a { 
    font-weight: normal;
    padding-left: 17px;
}

div.leftnav ul.leftnav ul.leftnavsub li.expanded span { 
    font-weight: normal;
    padding-left: 17px;
}

div.homeleft div.leftnav ul.leftnav ul.leftnavsub li.expanded span { 
    padding-left: 10px;
        height: 160px;
}

div.leftnav ul.leftnav li.single a
{
    background-image: url(/images/left_nav_selectsingle.gif);
}
div.leftnav ul.leftnav li.thirdbottom
{
    width: 176px;
    height: 7px;
    background-image: url(/images/left_nav_third_bottom.gif);
    background-repeat: no-repeat;
    background-position: 0px bottom;
    padding-top: 0px !important;
    margin-top: 0px !important;
    margin-left: 1px;
}

div.homeleft div.leftnav ul.leftnav li.thirdbottom{
height: 7px;
}

div.leftnav ul.leftnav li.expanded ul.leftnavsub li.expanded a
{
    width: 138px;
    background-image: url(/images/left_nav_third_noselect.gif);
    background-repeat: repeat-y;
    margin-left: -2px;
    padding-right: 24px;
 padding-bottom: 5px;
    display: block;
    font-size: 11px;
    font-weight: bold;
    color: #ebe6df;
}

div.leftnav ul.leftnav li.expanded ul.leftnavsub li.active a
{
    background-image: url(/images/left_nav_third_select.gif);
}

div.leftnav ul.leftnav li.expanded ul.leftnavsub li.active ul li a
{
        background-image: url(/images/left_nav_third_noselect.gif);
}

div.leftnav ul.leftnav li.selected
{
    border-width: 1px;
    border-color: #e07439;
}
div.leftnav ul.leftnav li.expanded a
{
    color: #ded9d9;
    text-decoration: none;
    font-size: 12px;
}

div.leftnav ul.leftnav li.navarrow
{
    position: relative;
    height: 0px;
    margin-top: 0px;
    display: inline;    
    left: 0px;
}
html>/**/body div.leftnav ul.leftnav li.navarrow {
display: block;
}
div.leftnav div.navarrowimage
{    
    display: block;
    position: absolute;
    background-image: url(/images/left_nav_arrow.gif);
    width: 9px;
    height: 16px;
    left: 176px;
    top: 6px;
}

div.leftnav ul.leftnav ul.leftnavsub li.expanded ul.leftnavsub li { 
    font-weight: normal;
    padding-left: 0px;
}
div.leftnav ul.leftnav ul.leftnavsub li.expanded  ul.leftnavsub li span { 
    font-weight: normal;
    padding-left: 27px;
}
div.leftnav ul.leftnav ul.leftnavsub li.expanded  ul.leftnavsub li.thirdbottom
{
    height: 0px;
}
div.leftnav div.navarrowimagesecond
{    
    display: block;
    position: absolute;
    background-image: url(/images/left_nav_arrow.gif);
    width: 9px;
    height: 16px;
    left: 181px;
    top: 7px;
}
div.leftnav ul.show{
    display: block;
}
div.leftnav ul.hide{
    display: none;
}
img.nav, img.navon {
    float: left;
    vertical-align: baseline;
    margin-left: -4px;
    padding-right: 4px;
    padding-bottom: 12px;
}
div.promo1
{
    background-image: url(/images/right_div.gif);
    background-position: bottom;
    color: #333333;
    font-size: 11px;
    line-height: 13px;
    border: 1px solid #BDBDBD;
    width: 218px;
    margin: 4px;
    padding: 7px;
}
div.promo1 h2
{
    color: #3b3b3b;
    font-size: 20px;
    font-weight: normal;
    margin-top: -4px;
    margin-bottom: 5px;
}
div.promo1 h3
{
    color: #385f9b;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}
div.promo2
{
    background-image: url(/images/right_div.gif);
    background-position: bottom;
    color: #333333;
    font-size: 11px;
    line-height: 13px;
    border: 1px solid #BDBDBD;
    width: 218px;
    margin: 4px;
    padding: 7px;
}
div.promo2 h2
{
    color: #3b3b3b;
    font-size: 20px;
    font-weight: normal;
    margin-top:-4px;
    margin-bottom: 5px;
}
div.promo2 h3
{
    color: #385f9b;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

div.menudiv
{
    width: 3px;
    height: 24px;
    float: left;
}

div.menuinner
{
    width: 3px;
    height: 24px;
    display: block;
    padding-top:4px;
}

span.smartedit
{
    color: #ff0000;
    font-size: 11px;
}
span.error
{
    color: #f00;
}

div.resources
{
    color: #666666;
    font-size: 10px;
    width: 180px;
    padding-left: 7px;
    padding-top: 0px;
    margin-top: 17px;
    float: left;
    position: relative;
}
div.resources h1
{
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
}
div.resources div.inner
{
    background-image: url(/images/homepage_sidebar_div.gif);
    background-repeat: repeat-x;
    border: solid 1px #bdbdbd;
    padding-left: 7px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 10px;
    width: 154px;
    vertical-align: middle;
    margin-top: -10px;
}
div.resources div.inner div.document
{
    clear: both;
    display: block;
}
div.resources div.inner a
{
    text-decoration: none;
    color: #000000;
}
div.resources div.inner img
{
    border: 0px;
    padding-top: 2px;
}
div.resources div.inner div.iconleft
{
    float: left;
    padding-right: 7px;
}
div.resources div.inner div.itemname
{
    float: left;
    width: 132px;
    padding-top: 2px;
    height: 23px;
    vertical-align: middle;
}

div.sideboxhead h2
{
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}
div.forums
{
    background-image: url(/images/homepage_sidebar_div.gif);
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    border: 1px solid #BDBDBD;
    margin: 3px;
    padding-right: 4px;
    width: 225px;
}
div.forums div.rnav
{
    padding-left: 6px;
    font-size: 10px;
    color: #43413e;
}
div.forums div.rnav a
{
    color: #de640d;
    text-decoration: none;
    font-size: 12px;
    width: 220px;
    display: block;
}


div.blogs
{
    background-image: url(/images/homepage_sidebar_div.gif);
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    border: 1px solid #BDBDBD;
    margin: 3px;
    padding-right: 4px;
    width: 225px;
}

div.blogs div.rnav
{
    padding-left: 6px;
    font-size: 10px;
    color: #43413e;
}

div.blogs div.rnav a
{
    color: #de640d;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

div.forums div.rnav br
{
    display: none;
    height: 0px;
    line-height: 0px;
}
div.blogs div.rnav br
{
    display: none;
    height: 0px;
    line-height: 0px;
}

div.sidetext
{
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 5px;
}

img.menuleftright
{
    float: left;
}

div.imagelist
{
    font-size: 12px;
    color: #333333;
}

div.imagelist h2
{
    color: #de640d;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.imagelist h2 a
{
    color: #de640d;
    text-decoration: none;
}

div.imagelist hr
{
    height: 2px;
    color: #e5e5e5;
background-color:  #e5e5e5;
    padding-left: 5px;
    padding-right: 5px;
}

div.imagelistbody img
{
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 0px;
}

div.imagelist div.imagelistlink
{
    text-align: right;
}

div.bodyarea
{
    width: 530px;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
}

div.breadcrumbs
{
    font-size: 12px;
    color: #333333;
    padding-bottom: 10px;
    padding-left: 10px;
}

div.breadcrumbs a
{
    color: #385f9b;
}

div.headline
{
    color: #3b3b3b;
    font-size: 32px;
    padding-top: 10px;
}

div.searchitems
{
    display: inline;
    float: left;
}
div.searchform
{
    display: inline;
    float: left;
    height: 24px;
}

div.imagelistimage
{
    width: 148px;
    text-align: center;
    float: left;
}

div.imagelistcontent
{
    padding-left: 20px;
    padding-right: 20px;
}

div.imagelistimage a
{
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}
.addtab IMG
{
    top: -5px;
}

div.newslinks
{
    width:240px;
    height:34px;
    background-image: url(/images/news_links.gif);
    display: block;
    position: relative;
}

div.newslinks a
{
    border: 0px;
}

div.newslinks div.twitter
{
    position: absolute;
    top: 0px;
    left: 190px;
}

div.newslinks div.rss
{
    position: absolute;
    top: 0px;
    left: 165px;
}

div.newslinks div.youtube
{
    position: absolute;
    top: 0px;
    left: 212px;
}
 
table.noborder {
border: 0px;
border-color: transparent;
}
table.noborder td, table.noborder th{
border: 0px;
border-color: transparent;
padding-left: 5px;
}
div.promo1 div.document div.iconleft {
float:left;
padding-right:7px;
}
div.promo1 div.document div.itemname {
float:left;
height:26px;
padding-top:2px;
vertical-align:middle;
}
div.promo1 div.itemname a {
color:#666666;
text-decoration:none;
}
div.whatsnew{
color: #333333;
font-family: Arial, Sans-Serif;
font-size: 80%;
border: solid 1px #b2b5b7;
background-color: #ffffff;
background-image: url(/images/tab_back.gif);
background-position: bottom;
background-repeat: repeat-x;
}
div.whatsnew h2{
color: #333333;
font-size: 130%;
font-weight: bold;
padding-left: 10px;
margin: 10px 0 10px 0;
}
div.whatsnewitems{
border-bottom: dotted 1px #b2b5b7;
}
div.whatsnewitems span{
list-style-type: none;
list-style-image: none;
margin: 10px 0 10px 10px;
}
div.whatsnewitems span a{
text-decoration: none;
color: #DE640D;
font-weight: bold;
}
div.whatsnewitems div{
padding: 0 10px 10px 30px;
}
div.leftnav ul.leftnav li a span {
margin-left: -7px;
display: block;
width: 152px;
cursor: hand;
padding-top: 2px;
}
div.leftnav ul.leftnav li.expanded2 {
list-style-type: none;
list-style-image: none;
padding-left: 3px;
}
div.leftnav ul.leftnav li.expanded2 a{
height: 36px;
background-image: url(/images/left_nav_noselect_2.gif);
background-repeat: no-repeat;
width: 160px;
display: block;
padding-left: 18px;
padding-top: 5px;
color: #ded9d9;
text-decoration: none;
font-size: 12px;   
font-weight: bold;     
}
div.leftnav ul.leftnav li.single2 a {
background-image: url(/images/left_nav_selectsingle2.gif);
height: 38px;
}
div.imagelist div.author{
font-size: 90%;
color: gray;
}
div.leftnav ul.leftnav li.active2 a {
height: 36px;
background-image: url(/images/left_nav_select_2.gif);
background-repeat: no-repeat;
width: 160px;
display: block;
padding-left: 18px;
padding-top: 5px;
color: #ded9d9;
text-decoration: none;
font-size: 12px;     
font-weight: bold;   
}

#search form {
position:absolute;
display: inline;
top: 21px;
left: 280px;
bottom: 6px;
height: 25px;
padding:0;
}
.newsearch {
        MARGIN-TOP: 4px;
}
.submitbtn {
    MARGIN-TOP: 4px; FONT-SIZE: 100%; BACKGROUND-IMAGE: url(/images/TopMenuButton.png); MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; WIDTH: 24px; COLOR: #0f758e; HEIGHT: 25px; TEXT-ALIGN: center; PADDING-RIGHT:2px; PADDING-BOTTOM:4px; MARGIN-RIGHT: -2px; PADDING-LEFT: 0px; line-height: 22px; BORDER: 0px;
}
.newsearch .submitbtn{
margin: 0px;
}
    
.nicebtn {
        WIDTH: 27px; MARGIN-RIGHT: 0px; COLOR: #0f758e; HEIGHT: 25px;
}
#advsearchbtn {
        WIDTH: 12px;
         background-color: #0f758e;
        color: #0f758e;
}
.hidesearch {
        WIDTH: 146px; float: left; HEIGHT: 25px; DISPLAY:none; MARGIN-LEFT: 0px; 
}
.advsearch {
        WIDTH: 146px; float: left; HEIGHT: 25px; MARGIN-LEFT: 0px; 
}
#advsearchddown {
        WIDTH: 146px;
}
.usernamebackground {
  BACKGROUND-IMAGE: url(/images/TopMenuUsername.png); WIDTH: 133px; HEIGHT: 25px; FLOAT: right; MARGIN-TOP: 4px;
}
.passwordbackground {
  BACKGROUND-IMAGE: url(/images/TopMenuPassword.png); WIDTH: 134px; HEIGHT: 25px; FLOAT: right; MARGIN-TOP: 4px;
}
#searchbackground {
  WIDTH: 381px; HEIGHT: 25px; FLOAT: left; MARGIN-TOP: 4px; MARGIN-LEFT: 2px;
}
/* Mid Nav Container */
#dhtml_menu {
    FLOAT: left; WIDTH: 100%; BACKGROUND-COLOR: #fff; BACKGROUND: url(/images/TopMenuBackgroundRepeatX.png) 0 0 repeat-x; MARGIN-LEFT: 0px; MARGIN-RIGHT: 0px;height: 60px;
}
/* Float Left */
.fleft
 {
    float:left;
}

.fright
 {
    float:right;
}

.leftmenu {
  WIDTH: 645px;
}
/* Global search box */
#searchbox {
       MARGIN-TOP: 1px; 
    PADDING-LEFT: 35px;
        padding-top: 2px;
        margin-right: 5px;
   BACKGROUND: url(/images/mainsprite.png) 0 0 no-repeat; 
    WIDTH: 345px; 
    HEIGHT: 18px; 
    FLOAT: left; 
    MARGIN-LEFT: 5px; 
        border: 0px;
background-color: #FFFFFF;
}    
/* Right part of header with Contact Us and Language links */
#rightcol {
    FLOAT: right; 
        padding-right: 20px;
 margin-top: -8px;
width: 300px;
}  
/* Midnav Dropdown menus */
UL.cssMenu UL {
    DISPLAY: none;
}
UL.cssMenu LI:hover > UL {
    DISPLAY: block; BACKGROUND-COLOR: #ffffff
}
UL.cssMenu UL {
    LEFT: 0px; POSITION: absolute; TOP: 98%
}
UL.cssMenu UL UL {
    LEFT: 98%; POSITION: absolute; TOP: -2px
}
UL.cssMenu {
    BORDER-RIGHT: transparent 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: transparent 1px solid; PADDING-LEFT: 0px; Z-INDEX: 1000; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: transparent 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: transparent 1px solid; BACKGROUND-REPEAT: repeat; LIST-STYLE-TYPE: none;
}
UL.cssMenu UL {
    BORDER-RIGHT: #0f7f9a 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #0f7f9a 1px solid; PADDING-LEFT: 0px; Z-INDEX: 1000; PADDING-BOTTOM: 0px; MARGIN: 0px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #0f7f9a 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #0f7f9a 1px solid; BACKGROUND-REPEAT: repeat; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #0f7f9a; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; -moz-box-shadow: 0px 3px 7px #adadad; -webkit-box-shadow: 0px 3px 7px #adadad;);  min-width: 140px;
}
UL.cssMenu TABLE {
    BORDER-COLLAPSE: collapse
}
UL.cssMenu {
    DISPLAY: block; FLOAT: left; ZOOM: 1; font-size: 90%;
}
UL.cssMenu UL {
    Z-INDEX: 1000
}
UL.cssMenu {
    MARGIN-TOP: -4px; MARGIN-LEFT: 0px
}
UL.cssMenu LI {
    DISPLAY: block; MARGIN: 0px;   cursor: pointer;
}
UL.cssMenu LI UL {
    BORDER-LEFT-COLOR: #d9d9d9; BORDER-BOTTOM-COLOR: #d9d9d9; TEXT-TRANSFORM: none; BORDER-TOP-COLOR: #d9d9d9; BORDER-RIGHT-COLOR: #d9d9d9
}
UL.cssMenu LI UL.standalone {
    BORDER-LEFT-COLOR: #d9d9d9; LEFT: -175px; BORDER-BOTTOM-COLOR: #d9d9d9; TEXT-TRANSFORM: none; BORDER-TOP-COLOR: #d9d9d9; BORDER-RIGHT-COLOR: #d9d9d9; WIDTH: 230px; PADDING-BOTTOM: 10px;
}
UL.cssMenu LI UL.standalone LI {
    PADDING-TOP: 6px;
}
UL.cssMenu LI UL.options {
  left: -80px; width: 150px;
    }
UL.cssMenu LI UL.options LI {
    PADDING-TOP: 3px;
}
.arrow {
     DISPLAY: inline; BACKGROUND: url(/images/mainsprite.png) no-repeat  -2px -121px; PADDING-BOTTOM: 0px; padding-left: 2px;
}
.contactarrow {
  DISPLAY: inline; BACKGROUND: url(/images/mainsprite.png) no-repeat -3px -65px; PADDING-BOTTOM: 0px
}
UL.cssMenu LI UL LI {
    DISPLAY: block; MARGIN: 5px
}
UL.cssMenu A:active {
    outline-style: none
}
UL.cssMenu A:focus {
    outline-style: none
}
UL.cssMenu A {
    CURSOR: pointer; COLOR: #ffffff; VERTICAL-ALIGN: middle; DISPLAY: block; PADDING: 4px; BORDER-WIDTH:1px; BORDER-STYLE:solid; BORDER-COLOR: transparent; TEXT-ALIGN: left; TEXT-DECORATION: none; _padding-left: 0; margin-right: 10px; 
}
UL.cssMenu.standalone A {
     margin-right: 0px;
}
UL.cssMenu LI.dis A:hover {
    BORDER-RIGHT: #0f7f9a 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0f7f9a 1px solid; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: #0f7f9a 1px solid; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #0f7f9a 1px solid; BACKGROUND-COLOR: #0f7f9a; TEXT-ALIGN: left; TEXT-DECORATION: none; _padding-left: 0;
}
UL.cssMenu LI.sep A:hover {
    BORDER-RIGHT: #0f7f9a 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #0f7f9a 1px solid; DISPLAY: block; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: middle; BORDER-LEFT: #0f7f9a 1px solid; CURSOR: default; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #0f7f9a 1px solid; BACKGROUND-COLOR: #0f7f9a; TEXT-ALIGN: left; TEXT-DECORATION: none; _padding-left: 0;
}
UL.cssMenu LI UL A {
    BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; COLOR: #000000; zBACKGROUND-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 1px; MARGIN-RIGHT: 0px;CURSOR: pointer;
}
UL.cssMenu LI UL A:hover {
    COLOR: #000000; BACKGROUND-COLOR: #d9d9d9;
}
UL.cssMenu SPAN {
    OVERFLOW: hidden
}
UL.cssMenu LI {
    Z-INDEX: 1000; FLOAT: left; 
}
UL.cssMenu UL LI {
    FLOAT: none; BACKGROUND-COLOR: #ffffff; background: none;
}
UL.cssMenu UL A {
    WHITE-SPACE: nowrap; TEXT-ALIGN: left;
}
UL.cssMenu LI.sep {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 0; PADDING-TOP: 0px; HEIGHT: 100%; TEXT-ALIGN: center
}
UL.cssMenu LI.sep SPAN {
    PADDING-RIGHT: 0px; DISPLAY: inline-block; FLOAT: none; BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #0f7993
}
UL.cssMenu UL LI.sep SPAN {
    WIDTH: 80%
}
UL.cssMenu LI:hover {
    POSITION: relative
}
UL.cssMenu LI:hover > A {
    BORDER-WIDTH:1px; BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #3f92a6; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #ffffff; BORDER-BOTTOM-STYLE: solid; 
}
.cssMenu UL LI:hover > A {
    BORDER-LEFT-COLOR: #ffffff; BORDER-BOTTOM-COLOR: #ffffff; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #ffffff; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #d9d9d9; TEXT-DECORATION: none; BORDER-RIGHT-COLOR: #ffffff; BORDER-BOTTOM-STYLE: solid;
}
UL.cssMenu LI A:hover {
    COLOR: #fff; POSITION: relative; BACKGROUND-COLOR: #3f92a6; TEXT-DECORATION: none;
}
UL.cssMenu LI.dis A {
    COLOR: #aaaaaa! important
}
UL.cssMenu IMG {
    FLOAT: left; WIDTH: 16px; BORDER-TOP-STYLE: none; MARGIN-RIGHT: 4px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BORDER-BOTTOM-STYLE: none; _float: none
}
UL.cssMenu UL IMG {
    WIDTH: 16px; HEIGHT: 16px
}
UL.cssMenu LI UL LI UL LI UL.cssMenum{
    DISPLAY: none; MARGIN: 5px
}
 /* Form button styling */ 
.nicebtn {
        WIDTH: 27px; MARGIN-RIGHT: 0px; COLOR: #0f758e; HEIGHT: 25px;
}
    .loggedinlinks{
     margin-left: 20px;
     margin-top: 4px;
padding-left: 70px;
overflow: hidden;
white-space: nowrap;
     }
         .registerlinks {
    MARGIN-TOP: 0px; FLOAT: right;
}
.blueback{
background-color: #128CAB;
}
/* Login Area */
#login {
    MARGIN-RIGHT: 20px; WIDTH: 300px;
}
#loginpassspan_text {
    display:none;
}
.curvedinput {
    HEIGHT: 16px; MARGIN-TOP: 2px; MARGIN-LEFT: 5px; MARGIN-BOTTOM: 0px; FLOAT: right; MARGIN-RIGHT: 5px; WIDTH: 120px; BORDER: 0px;
}
/* Large Text */
.large {
font-size: 14px;
}
/* Medium Text */
.mid {
font-size: 12px;
}
/* Small Text */
.small {
font-size: 10px;
}
/* Clear Text Transforms */
.notransform{
text-transform: none;
}
.white {
COLOR: #FFFFFF;
}
 
form { display: inline;}